composer.phar
composer.lock

# generic files to ignore
*.lock
*.DS_Store
*~
*.swp
.idea

# reports
reports/

# plugins
data/extensions/
*.xpi
node_modules/

# config
config/config.php

# tempory
/tmp
